enterprise-workflow.json
{"name": "Enterprise AI Agent (Resume Website)", "nodes": [{"parameters": {"content": "## 1. Webhook & Pre-processing\n\u0e23\u0e31\u0e1a\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25\u0e08\u0e32\u0e01\u0e40\u0e27\u0e47\u0e1a (message, sessionId) \u0e41\u0e25\u0e49\u0e27\u0e2a\u0e48\u0e07\u0e44\u0e1b\u0e2b\u0e32 AI", "height": 200, "width": 300, "color": 6}, "id": "sticky-1", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [100, 100]}, {"parameters": {"httpMethod": "POST", "path": "ai-chat-enterprise", "responseMode": "responseNode", "options": {}}, "id": "webhook-node", "name": "Webhook (Receive Chat)", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [150, 150]}, {"parameters": {"content": "## 2. Global Error Handling\n\u0e14\u0e31\u0e01\u0e08\u0e31\u0e1a Error \u0e08\u0e32\u0e01\u0e17\u0e38\u0e01\u0e46 Node \u0e43\u0e19 Workflow \u0e19\u0e35\u0e49 \u0e41\u0e25\u0e30\u0e2a\u0e48\u0e07\u0e41\u0e08\u0e49\u0e07\u0e40\u0e15\u0e37\u0e2d\u0e19\u0e40\u0e02\u0e49\u0e32 Discord/LINE", "height": 250, "width": 450, "color": 7}, "id": "sticky-error", "name": "Sticky Note Error", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [100, 600]}, {"parameters": {}, "id": "error-trigger", "name": "Error Trigger", "type": "n8n-nodes-base.errorTrigger", "typeVersion": 1, "position": [150, 650]}, {"parameters": {"url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_URL", "method": "POST", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"content\": \"\ud83d\udea8 <b>Error in AI Chat Workflow</b>\\nNode: {{ $json.execution.error.node.name }}\\nMessage: {{ $json.execution.error.message }}\"\n}"}, "id": "error-notify", "name": "Notify Error", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [350, 650]}, {"parameters": {"respondWith": "json", "responseBody": "={\n  \"reply\": \"\u0e02\u0e2d\u0e2d\u0e20\u0e31\u0e22\u0e04\u0e48\u0e30 \u0e23\u0e30\u0e1a\u0e1a AI \u0e02\u0e31\u0e14\u0e02\u0e49\u0e2d\u0e07 \u0e01\u0e23\u0e38\u0e13\u0e32\u0e25\u0e2d\u0e07\u0e43\u0e2b\u0e21\u0e48\u0e2d\u0e35\u0e01\u0e04\u0e23\u0e31\u0e49\u0e07\"\n}", "options": {"responseCode": 500}}, "id": "error-respond", "name": "Respond with Error", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [550, 650]}, {"parameters": {"content": "## 3. Core AI Agentic System\nAI \u0e2a\u0e21\u0e2d\u0e07\u0e01\u0e25 (ReAct) \u0e17\u0e35\u0e48\u0e43\u0e0a\u0e49 Google Gemini \u0e21\u0e35 Memory \u0e08\u0e14\u0e08\u0e33\u0e1a\u0e17\u0e2a\u0e19\u0e17\u0e19\u0e32 \u0e41\u0e25\u0e30\u0e2a\u0e32\u0e21\u0e32\u0e23\u0e16\u0e40\u0e23\u0e35\u0e22\u0e01\u0e43\u0e0a\u0e49 Tools \u0e44\u0e14\u0e49", "height": 450, "width": 700, "color": 5}, "id": "sticky-agent", "name": "Sticky Note Agent", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [450, 50]}, {"parameters": {"promptType": "define", "text": "={{ $json.body.message }}", "options": {"systemMessage": "You are Thanathorn's AI Assistant. You answer questions about his resume, packages, and technical skills. Be polite and helpful."}}, "id": "ai-agent", "name": "AI Agent", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.6, "position": [500, 150]}, {"parameters": {"modelName": "models/gemini-1.5-flash", "options": {"temperature": 0.7}}, "id": "gemini-model", "name": "Google Gemini Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [500, 350]}, {"parameters": {"sessionId": "={{ $json.body.sessionId || 'default_session' }}", "contextWindowLength": 10}, "id": "memory-node", "name": "Window Buffer Memory", "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.2, "position": [650, 350]}, {"parameters": {"name": "get_resume_info", "description": "Call this tool to get information about Thanathorn's education, skills, and experience.", "jsCode": "return \"Thanathorn Siriphan is a Full-Stack Developer specializing in React, Next.js, Node.js, Spring Boot, and AI Automation.\";"}, "id": "tool-resume", "name": "Tool: Get Resume Info", "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1, "position": [850, 350]}, {"parameters": {"name": "get_packages", "description": "Call this tool to get pricing and packages for web development services.", "jsCode": "return \"Packages: 1. Landing Page (3,900-5,900 THB). 2. E-Commerce (12k-25k THB). 3. AI Automation (4.5k-15k THB). 4. Full-Stack Web App (30k+ THB)\";"}, "id": "tool-packages", "name": "Tool: Get Packages", "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1, "position": [1000, 350]}, {"parameters": {"content": "## 4. Response & Logging\n\u0e2a\u0e48\u0e07\u0e04\u0e33\u0e15\u0e2d\u0e1a\u0e01\u0e25\u0e31\u0e1a\u0e43\u0e2b\u0e49\u0e40\u0e27\u0e47\u0e1a\u0e40\u0e1a\u0e23\u0e32\u0e27\u0e4c\u0e40\u0e0b\u0e2d\u0e23\u0e4c \u0e41\u0e25\u0e30\u0e40\u0e01\u0e47\u0e1a\u0e1b\u0e23\u0e30\u0e27\u0e31\u0e15\u0e34\u0e41\u0e0a\u0e17/\u0e41\u0e08\u0e49\u0e07\u0e40\u0e15\u0e37\u0e2d\u0e19", "height": 250, "width": 600, "color": 3}, "id": "sticky-response", "name": "Sticky Note Response", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [1200, 100]}, {"parameters": {"respondWith": "json", "responseBody": "={\n  \"reply\": \"{{ $json.output }}\"\n}", "options": {}}, "id": "webhook-respond", "name": "Respond to Webhook", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1250, 150]}, {"parameters": {"url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_URL", "method": "POST", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"content\": \"\ud83d\udcac **New Chat Log:**\\nUser: {{ $('Webhook (Receive Chat)').item.json.body.message }}\\nAI: {{ $json.output }}\"\n}"}, "id": "chat-log", "name": "Log Chat (Discord)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [1450, 150]}], "connections": {"Webhook (Receive Chat)": {"main": [[{"node": "AI Agent", "type": "main", "index": 0}]]}, "AI Agent": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}, "Respond to Webhook": {"main": [[{"node": "Log Chat (Discord)", "type": "main", "index": 0}]]}, "Google Gemini Chat Model": {"ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]}, "Window Buffer Memory": {"ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]}, "Tool: Get Resume Info": {"ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]}, "Tool: Get Packages": {"ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]}, "Error Trigger": {"main": [[{"node": "Notify Error", "type": "main", "index": 0}]]}, "Notify Error": {"main": [[{"node": "Respond with Error", "type": "main", "index": 0}]]}}, "settings": {"saveManualExecutions": true}}